{% extends 'base.html.twig' %}

{% block content %}
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center orange-text">{{ 'Games'|trans }}</h1>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      {% for game in games %}
      <div class="col s12 m4">
        <div class="card small horizontal">
          <div class="card-content center">
            <img class="logo-medium circle" src="{{ game.logowebpath }}" alt="" /><br/>
               <a class="card-title" href="{{ path('game_show', {'shortname': game.shortname }) }}">{{ game.fullname }}</a>
               <p class="light">{{ game.brief }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="container">
  <div class="fixed-action-btn horizontal">
    <a title="Add a game" class="btn-floating btn-large blue"  href="{{ path('game_new') }}">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>
{% endif %}

{% endblock %}

