{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ game.shortname }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ game.fullname }}</td>
            </tr>
            <tr>
                <th>Brief</th>
                <td>{{ game.brief }}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{ game.review | markdown }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if game.createdAt %}{{ game.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                by {{ game.createdBy.login }}
                </td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{% if game.modifiedAt %}{{ game.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}
                by {{ game.modifiedBy.login }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {% if game in app.user.games %}
            <i>I play that game!</i>
            {% else %}
               <a href="{{ path('game_add_player', {'id': game.id}) }}">Add to my games</a>
            {% endif %}
        </li>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
