{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ game.fullname }}</h1>
    <img src="/{{ logo_path }}" alt="No logo" />
    <table>
        <tbody>
            <tr>
                <th>Brief</th>
                <td>{{ game.brief }}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{ game.review | markdown }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if game.createdAt %}{{ game.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                by {{ game.createdBy.login }}
                </td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{% if game.modifiedAt %}{{ game.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}
                by {{ game.modifiedBy.login }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index', { 'game': game.shortname }) }}">Posts</a>
        </li>
        {% if is_granted('ROLE_USER') %}
        <li>
            {% if game in app.user.games %}
                <i>I play that game!</i>
            {% else %}
                <a href="{{ path('game_add_player', {'shortname': game.shortname}) }}">Add to my games</a>
            {% endif %}
        </li>
        {% endif %}
        <li>
           <a href="{{ path('game_logo', {'id': game.id}) }}">Upload logo</a>
        </li>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
