{% extends 'base.html.twig' %}

{% block content %}
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ game.fullname }}</h1>
      <div class="row center">
        <img src="{{ game.logowebpath }}" alt="" class="logo-medium"/>
        <p class="flow-text col s12 light">{{ game.brief }}</p>
      </div>
      {% if is_granted('ROLE_USER') %}
         {% if game in app.user.games %}
         {% else %}
      <div class="row center">
        <a href="{{ path('game_add_player', {'shortname': game.shortname}) }}" class="btn orange"><i class="material-icons left">star</i> I play to this game!</a>
      </div>
      <br><br>
         {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <ul class="tabs">
        <li class="tab col s3"><a href="#review">Review</a></li>
        <li class="tab col s3"><a href="#discussion">Discussion</a></li>
        <li class="tab col s3 disabled"><a href="#pictures">Pictures</a></li>
        <li class="tab col s3"><a href="#players">Players</a></li>
    </div>

    <div id="review" class="flow-text">
      {{ game.review | markdown }}
    </div>
    <div id="discussion">
    {{ render(controller('AppBundle:Post:index', { 'game': game.shortname })) }}
    </div>
    <div id="pictures">
      TODO() pictures management
    </div>
    <div id="players">
      <ul>
      {% for player in game_players %}
         <li>
           <img src="{{ player.logowebpath }}" alt="" class="logo-small circle" />
           <a href="{{ path('player_show', { 'login': player.login }) }}">{{ player.login }}</a>
         </li>
      {% endfor %}
      </ul>
    </div>
  </div>
    <br/>
    <br/>
  {% if is_granted("ROLE_ADMIN") %}
  <div class="container">
    <div class="fixed-action-btn horizontal">
        {{ form_start(delete_form) }}
           <button title="Delete" class="btn-floating btn-large red" type="submit" name="action">
             <i class="material-icons">delete</i>
           </button>
           <a title="Change logo" class="btn-floating btn-large blue" href="{{ path('game_logo', {'id': game.id}) }}"><i class="material-icons">image</i></a>
           <a title="Edit" class="btn-floating btn-large blue" href="{{ path('game_edit', { 'id': game.id }) }}"><i class="material-icons">mode_edit</i></a>
        {{ form_end(delete_form) }}
    </div>
  </div>
  {% endif %}
{% endblock %}
