{% extends 'base.html.twig' %}

{% block content %}
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center orange-text">Players</h1>
  </div>
</div>

<div class="section">
  <div class="container">
    <table>
        <thead>
            <tr>
                <th>Login</th>
                {% if is_granted('ROLE_USER') %}
                <th>Email</th>
                <th>Role</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td class="valign-wrapper">
                  <img class="logo-small circle" src="{{ player.logowebpath }}" alt="" />
                  <a href="{{ path('player_show', { 'login': player.login }) }}">{{ player.login }}</a>
                </td>
                {% if is_granted('ROLE_USER') %}
                <td>{{ player.email }}</td>
                <td>{{ player.role }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
