{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table>
        <thead>
            <tr>
                <th>Login</th>
                {% if is_granted('ROLE_USER') %}
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.login }}</td>
                {% if is_granted('ROLE_USER') %}
                <td>{{ player.email }}</td>
                <td>{{ player.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'login': player.login }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
