{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.login) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Register!</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
