{% extends 'base.html.twig' %}

{% block content %}
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center orange-text">{{ player.login }}</h1>
    <div class="center">
      <img class="logo-medium circle" src="{{ player.logowebpath }}" alt="" />
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    {% if is_granted('ROLE_ADMIN') %}
      {% if player.roles|length > 0 %}({{ player.roles[0] }}){% endif %}
    {% endif %}
    <h5>Games I play</h5>
    <ul>
      {% for game in player.games %}
      <li>
         <a href="{{ path('game_show', { 'shortname': game.shortname }) }}">{{ game.fullname }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if app.user and (app.user.id == player.id or is_granted('ROLE_ADMIN')) %}
<div class="container">
  <div class="fixed-action-btn horizontal">
    <button title="Delete" data-target="modal1" class="btn-floating btn-large red">
       <i class="material-icons">delete</i>
    </button>
    <a title="Change logo" class="btn-floating btn-large blue" href="{{ path('player_logo', {'id': player.id}) }}"><i class="material-icons">image</i></a>
    <a title="Edit" class="btn-floating btn-large blue" href="{{ path('player_edit', { 'id': player.id }) }}"><i class="material-icons">mode_edit</i></a>
    <a title="Change role" class="btn-floating btn-large blue" href="{{ path('player_role', {'id': player.id}) }}"><i class="material-icons">assignment_ind</i></a>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Confirmation required</h4>
    <p>Are you sure to remove {{ player.login }} ?</p>
  </div>
  <div class="modal-footer">
   {{ form_start(delete_form) }}
     <button class="modal-action btn-flat red white-text" type="submit" name="action">Delete</button>
     <a href="#!" class="modal-action modal-close btn-flat">Cancel</a>
   {{ form_end(delete_form) }}
  </div>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function(){
  $('.modal').modal();
});
</script>
{% endblock %}

