{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player</h1>
    <img src="/{{ logo_path }}" alt="No logo" />
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ player.login }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ player.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{% if player.roles|length > 0 %}{{ player.roles[0] }}{% endif %}</td>
            </tr>
            <tr>
                <th>Games</th>
                <td><ul>
                    {% for game in player.games %}
                    <li>{{ game.fullname }}</li>
                    {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('player_role', {'id': player.id}) }}">Update role</a>
        </li>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('player_edit', { 'id': player.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('player_logo', { 'id': player.id }) }}">Upload logo</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" />
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
