{% for post in posts %}
<div class="card">
  <div class="card-content">
    <div class="valign-wrapper">
      <img src="{{ post.createdBy.logowebpath }}" alt="" class="logo-small"/>
      <a href="{{ path('player_show', { 'login': post.createdBy.login }) }}">{{ post.createdBy.login }}</a>, 
      {{ post.createdAt|date('d/m/Y h:i') }}
    </div>
    <hr/>
    {{ post.comment }}
  </div>
  {% if (app.user and app.user.getId() == post.createdBy.id) or is_granted('ROLE_ADMIN') %}
  <div class="card-action">
    <a class="btn btn-small orange" href="{{ path('post_edit', { 'id': post.id, 'game': game.shortname }) }}"><i class="material-icons">mode_edit</i></a>
    <button data-target="modal{{ post.id}}" class="btn btn-small orange"><i class="material-icons">delete</i></button>
  </div>
  <div id="modal{{ post.id }}" class="modal">
    <div class="modal-content">
      <h4>Confirmation required</h4>
      <p>Are you sure to remove this post?</p>
    </div>
    <div class="modal-footer">
     {{ form_start(delete_forms[post.id]) }}
       <button class="modal-action btn-flat red white-text" type="submit" value="Delete">Delete</button>
       <a href="#!" class="modal-action modal-close btn-flat">Cancel</a>
     {{ form_end(delete_forms[post.id]) }}
    </div>
  </div>
  {% endif %}
</div>
{% else %}
  <p class="flow-text">No comment yet</p>
{% endfor %}

{% if is_granted('ROLE_USER') %}
<div class="container">
  <a href="{{ path('post_new', { 'game': game.shortname }) }}" class="btn">
    <i class="material-icons left">add</i> Add comment
  </a>
</div>
{% endif %}

<script>
$(document).ready(function(){
  $('.modal').modal();
});
</script>

